#bodyIndex {
    background-color: rgb(146, 0, 0);
}

.input {
    height: 15px;
    border:solid 1px rgb(118, 0, 0);
    margin-top: 9px;
    padding: 10px;
    background-color: rgba(139, 0, 0, 0.788);
    border-radius: 5px;
}
.logo{ 
    width: 10px;
    height:20px;

}
.combate {
  margin-left: 20px;
  margin-top: -40px;
  color: black;


}
.titulo1 {
  font-size: 30px;
}
.cadastro__label span {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    margin: 20px;
    cursor: text;
    transition: all 150ms ease;
  }
  
  .input:focus {
    background-color:rgb(255, 255, 255);
    border: 2px solid red;
  }
  
  .cadastro__label .span-active {
    font-size: 11px;
    margin: 10px 10px;
  }
  #dado {
    margin-top: 150px;
    margin-left: 650px;
    background-color: black;
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
  }
  .input {
    width: 350px;
    height: 70px;
    margin-top: 10px;
    background-color:white;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    padding: 25px 10px 10px;
    font-weight: 500;
    color:black;
    font-family:inherit; 
  }
  .cadastro__label span {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color:darkred;
    margin: 20px;
    cursor: text;
    transition: all 150ms ease;
  }
  
  .input:focus {
    background-color:whitesmoke;
    border: 2px solid darkred;
  }
  
  .cadastro__label .span-active {
    font-size: 11px;
    margin: 10px 10px;
  }
  
  .cadastro__label--checkbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  
  .input--checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color:white;
    margin-right: 8px;
    border-radius: 3px;
  }